<div class="col-sm-6 col-lg-4 col-xl-3">
    <div class="card m-1" @onmouseover="e => Survol(Voyage)" @onmouseout='e => Survol(null)' @onclick="e => Clic(Voyage)">
        <img src="/img/@Voyage.Image" class="card-img-top" alt="@Voyage.Titre">
        <div class="card-body">
            <h5 class="card-title">@Voyage.Titre</h5>
            <ComposantsCourants.Note Valeur="@Voyage.Note"/>
            <p class="card-text">@Voyage.Description</p>
            <a href="/styles/@Voyage.Style/@Voyage.Id" class="card-link">Plus d'info...</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Voyage Voyage { get; set; }

    [Parameter]
    public int Indice { get; set; }

    [Parameter]
    public Action<Voyage> Survol { get; set; }

    [Parameter]
    public Action<Voyage> Clic { get; set; }

    protected override bool ShouldRender() => false;
}