@using Blazored.Typeahead

@inject NavigationManager nav
@inject IDataContext data

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Voyages</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Accueil</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/styles">Styles</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/vous">Votre séjour</NavLink>
                </li>
            </ul>
            <form class="form-inline mr-4">
                <BlazoredTypeahead SearchMethod="ChercherVoyage" @bind-Value="Sélection">
                    <SelectedTemplate Context="v">@v.Titre</SelectedTemplate>
                    <ResultTemplate Context="v">@v.Titre (@v.Pays)</ResultTemplate>
                </BlazoredTypeahead>
            </form>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" aria-label="Mon compte"><span class="oi oi-person"></span></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <NavLink class="dropdown-item" href="/compte/inscription">Inscription</NavLink>
                        <NavLink class="dropdown-item" href="/compte/connexion">Connexion</NavLink>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private Voyage? Sélection
    {
        get => null;
        set
        {
            if (value != null)
            {
                nav.NavigateTo($"/styles/{value.Style}/{value.Id}");
            }
        }
    }
    private async Task<IEnumerable<Voyage>> ChercherVoyage(string recherche) => await Task.FromResult<IEnumerable<Voyage>>(
        data.Voyages.Where(v =>
            v.Titre.Contains(recherche)
            || v.Pays.Contains(recherche)
            || v.Style.Contains(recherche)
            || v.Description.Contains(recherche)
        ));
}
