@inherits LayoutComponentBase

@layout MainLayout

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <NavLink class="nav-link" href="/styles" Match="NavLinkMatch.All">Guide</NavLink>
        </li>
        @foreach (var style in listeDesStyles)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href='@($"/styles/{style.ToLower()}")'>@style</NavLink>
            </li>
        }
    </ul>

    @Body
</div>

@code {
    [CascadingParameter]
    public string[] listeDesStyles { get; set; }
}