@page "/"

@inject IDataContext data
@inject IConfiguration conf

<div class="jumbotron" style="background-image: url('@conf["Const:ImageJumbo"]')">
    <div class="container">
        <h1 class="display-3">Voyagez @((MarkupString)PaysCourant) !</h1>
        <p>Envie d'évasion ? faites vos bagages, nous partons...</p>
    </div>
</div>

<div class="row">
    @foreach (var voyage in data.Voyages)
    {
        // var indice = i;

        <CarteVoyage Voyage='voyage' Survol='v => ChangerDePays(v != null ? v.Pays : "", 0)' />
    }
</div>
@code {
    private string PaysCourant { get; set; } = "";

    private void ChangerDePays(string pays, int indice = -1)
    {
        PaysCourant = pays.Length == 0 ? "" : $"{pays} <small class='text-muted'>{indice}</small>";
        StateHasChanged();
    }
}