@page "/"
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Voyagez !</h1>
        <p>Envie d'évasion ? faites vos bagages, nous partons...</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card m-1">
            <img src="/img/bandung.jpg" class="card-img-top" alt="Bandung">
            <div class="card-body">
                <h5 class="card-title">Se ressourcer en Indonésie</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer elit lacus, faucibus a massa a, ultrices tempor magna.</p>
                <a href="/nature" class="card-link">Plus d'info...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card m-1">
            <img src="/img/santorini.jpg" class="card-img-top" alt="Santorin">
            <div class="card-body">
                <h5 class="card-title">Les ruelles de Santorin</h5>
                <p class="card-text">Curabitur feugiat at lectus sit amet tincidunt. Curabitur at eros nec turpis commodo luctus.</p>
                <a href="#" class="card-link">Plus d'info...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card m-1">
            <img src="/img/derbyshire.jpg" class="card-img-top" alt="Derbyshire">
            <div class="card-body">
                <h5 class="card-title">Les lands du Derbyshire</h5>
                <p class="card-text">Phasellus mattis pretium sem, et gravida diam semper et. Duis pretium magna quis ornare pulvinar.</p>
                <a href="#" class="card-link">Plus d'info...</a>
            </div>
        </div>
    </div>
</div>

@*
    Voyage[] voyages = {
        new Voyage( "bandung"   , "bandung.jpg"     , "nature", "Se ressourcer en Indonésie"  , "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer elit lacus, faucibus a massa a, ultrices tempor magna."                     ),
        new Voyage( "santorini" , "santorini.jpg"   , "visite", "Les ruelles de Santorin"     , "Curabitur feugiat at lectus sit amet tincidunt. Curabitur at eros nec turpis commodo luctus."                                                ),
        new Voyage( "derbyshire", "derbyshire.jpg"  , "nature", "Les lands du Derbyshire"     , "Phasellus mattis pretium sem, et gravida diam semper et. Duis pretium magna quis ornare pulvinar."                                           ),
        new Voyage( "kirkjufell", "kirkjufell.jpg"  , "nature", "L'Islande sauvage"           , "Donec convallis nunc nec sapien sodales, vel dignissim urna facilisis. In eget purus in ante facilisis commodo sit amet vitae lectus. "      ),
        new Voyage( "florence"  , "florence.jpg"    , "visite", "Escapade à Florence"         , "Donec a ex condimentum, lobortis sapien id, malesuada enim. Praesent sagittis nisi et enim bibendum finibus."                                ),
        new Voyage( "newyork"   , "newyork.jpg"     , "visite", "Croquez la pomme"            , "Quisque sit amet libero tortor. Vivamus fermentum blandit odio in tincidunt."                                                                ),
        new Voyage( "kenya"     , "kenya.jpg"       , "nature", "Changer de faune"            , "Aliquam nunc mi, molestie vel neque in, consequat volutpat ipsum. Pellentesque auctor maximus porta."                                        ),
        new Voyage( "chili"     , "chili.jpg"       , "nature", "La route des Andes"          , "Pellentesque lorem justo, posuere et sapien vel, iaculis volutpat est. Mauris sit amet dolor leo. Nam in commodo elit."                      ),
        new Voyage( "taipei"    , "taipei.jpg"      , "visite", "Les couleurs de Taipei"      , "Suspendisse dictum lobortis libero sit amet pulvinar. Mauris et congue ex, sed interdum nisl. Aenean ultrices turpis ac congue condimentum." ),
        new Voyage( "jusang"    , "jusang.jpg"      , "nature", "Automne en Corée"            , "Cras maximus sit amet nunc at tristique. Sed vitae tellus turpis. Curabitur quis magna dictum, posuere mi a, ornare dui."                    )
    };
*@