@page "/"
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Voyagez !</h1>
        <p>Envie d'évasion ? faites vos bagages, nous partons...</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card m-1">
            <img src="/img/bandung.jpg" class="card-img-top" alt="Bandung">
            <div class="card-body">
                <h5 class="card-title">Se ressourcer en Indonésie</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer elit lacus, faucibus a massa a, ultrices tempor magna.</p>
                <a href="/nature" class="card-link">Plus d'info...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card m-1">
            <img src="/img/santorini.jpg" class="card-img-top" alt="Santorin">
            <div class="card-body">
                <h5 class="card-title">Les ruelles de Santorin</h5>
                <p class="card-text">Curabitur feugiat at lectus sit amet tincidunt. Curabitur at eros nec turpis commodo luctus.</p>
                <a href="#" class="card-link">Plus d'info...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card m-1">
            <img src="/img/derbyshire.jpg" class="card-img-top" alt="Derbyshire">
            <div class="card-body">
                <h5 class="card-title">Les lands du Derbyshire</h5>
                <p class="card-text">Phasellus mattis pretium sem, et gravida diam semper et. Duis pretium magna quis ornare pulvinar.</p>
                <a href="#" class="card-link">Plus d'info...</a>
            </div>
        </div>
    </div>
</div>