::deep .validation-errors {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

::deep .validation-errors li {
    list-style-type: none;
}
