@page "/vous"

@using System.Text

@inject IStringLocalizer<Vous> loc

<div class="container">
    <h3>@loc["Title"]</h3>

    @if (messageType.Length > 0)
    {
        <div class="alert alert-@messageType" role="alert">
            @messageText
        </div>
    }
    <EditForm Model="séjour" OnValidSubmit="@ValidationSéjour">
        <div class="mb-3">
            <label for="nom">Prénom Nom</label>
            <input id="nom" placeholder="Votre prénom et votre nom" @bind="séjour.Nom" @bind:event="oninput">
        </div>
        <Passagers @bind-Nombre="séjour.NbPassagers"></Passagers>
        <div class="mb-3">
            <label for="depart">Du</label>
            <input id="depart" type="date" placeholder="Quand voulez-vous partir ?" @bind="séjour.Départ">
            <label for="retour">au</label>
            <input id="retour" type="date" placeholder="Quand voulez-vous revenir ?" @bind="séjour.Retour">
            @TexteDurée()
        </div>
        <p>@Résumé</p>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </EditForm>
</div>

@code {
    private string messageType = "";
    private string messageText = "";

    [CascadingParameter]
    public Guid uid { get; set; }

    private async void ValidationSéjour()
    {
        // TODO
        if (true)
        {
            messageType = "success";
            messageText = "Séjour enregistré";
        }
        else
        {
            messageType = "danger";
            messageText = "Oups";
        }
        StateHasChanged();
    }

    private Séjour séjour = new Séjour(DateTime.Now.Date + TimeSpan.FromDays(7));

    private string TexteDurée()
    {
        (string terminaison, string pluriel) = (séjour.Durée.TotalDays == 1) ? ("t", "") : ("ent", "s");

        return $"soi{terminaison} {séjour.Durée.TotalDays} jour{pluriel}";
    }
    private string Résumé
    {
        get
        {
            StringBuilder sb = new StringBuilder("Bienvenue");

            messageType = "";
            if (séjour.Nom.Length > 0)
            {
                sb.Append($" {séjour.Prénom}");
            }
            sb.Append(", nous vous attendons");
            if (séjour.NbPassagers == 2)
            {
                sb.Append(", vous et la personne qui vous accompagne");
            }
            else if (séjour.NbPassagers > 2)
            {
                sb.Append(" avec votre \"tribu\"");
            }
            sb.Append(".");
            return sb.ToString();
        }
    }
}